.login{
	height: 175px;
	width: 300px;
	margin: 0 auto;
	padding: 25px;
	border-style: groove;
}
table{
	border-spacing: 5px;
	border-radius: 3px;
}
caption{
	font-size: 250%;
}
input[type="text"],input[type="password"]{
	width: 220px;
}
#btnlogin{
	border-radius: 3px;
	margin-left: 110px;
	width: 100px;
	height: 30px;
}
#mendaftar{
	margin-left: 50px;
}