{% extends "base.html" %}
{% block title %}We - Berita{% endblock %}

{% block judul_besar %}Berita{% endblock %}

{% block judul1 %}Menteri Jonan Minta Perketat Pengawasan Kapal di Merak{% endblock %}
{% block author1 %}Fahri Rizki{% endblock %}
{% block img1 %}img/post/merak.jpg{% endblock %}
{% block isi1 %}Ribuan kendaraan pemudik mengantri untuk memasuki kapal Ferry tujuan Pelabuhan Bakauheni, Lampung di Pelabuhan Merak, Banten, Rabu, (15/7/2015). Total pemudik yang menyebrang 124.606 pemudik, 9.860 roda empat, 19.197 roda dua. .{% endblock %}
{% block rm %}/rm1berita{% endblock %}

{% block judul2 %}Tim SAR Hentikan Operasi Longsor Purworejo dan Kebumen{% endblock %}
{% block author2 %}Fahri Rizki{% endblock %}
{% block img2 %}img/post/Longsor_Purworejo.jpg{% endblock %}
{% block isi2 %}Setelah menggelar operasi penyelamatan dan pencarian korban longsor Purworejo dan Kebumen, hari ini seluruh operasi SAR resmi ditutup, setelah tujuh hari berlangsung...{% endblock %}
{% block rm2 %}/rm2berita{% endblock %}


{% block judul3 %}Lift Jatuh, 1 Karyawan Dealer Vespa di Bogor Tewas{% endblock %}
{% block author3 %}Fahri Rizki{% endblock %}
{% block img3 %}img/post/garis-polisi.jpg{% endblock %}
{% block isi3 %}Sebuah lift di dealer Vespa Piagio di Jalan Pajajaran, Kelurahan Baranangsiang, Kecamatan Bogor Timur, Kota Bogor, Jawa Barat, jatuh. Insiden lift jatuh ini mengakibatkan seorang karyawan dealer vespa matic tewas, sedangkan satu orang lainnya mengalami luka...{% endblock %} 
