{% extends "base.html" %}
{% block title %}We - Film{% endblock %}

{% block judul_besar %}Film{% endblock %}

{% block judul1 %}Lost in White
(冰河追凶 / Bing he zhui xiong)
(2016){% endblock %}
{% block author1 %}Fahri Rizki{% endblock %}
{% block img1 %}img/post/lost-in-white-2016.jpg{% endblock %}
{% block isi1 %}Sinopsis:
Di sebuah desa kecil, di mana tanah itu tertutup salju tebal, mayat ditemukan di sebuah sungai es. Detektif Zhou Peng dan Wang Hao pergi ke desa mencari pelaku. Apa yang mereka temukan adalah sebuah kebenaran yang jauh lebih rumit..{% endblock %}

{% block judul2 %}Get a Job
(2016){% endblock %}
{% block author2 %}Fahri Rizki{% endblock %}
{% block img2 %}img/post/get-a-job2016.jpg{% endblock %}
{% block isi2 %}Sinopsis:
Film ini menceritakan tentang empat orang sahabat lulusan sebuah perguruan tinggi terkenal yang menemukan sesuatu hal menarik bahwa ekspektasi tinggi serta impian terbesar mereka dengan kenyataan sebenarnya yang terjadi di masa depan mereka merupakan dua hal yang benar-benar berbeda hingga 180 derajat..{% endblock %}


{% block judul3 %}Before I Wake(2016){% endblock %}
{% block author3 %}Fahri Rizki{% endblock %}
{% block img3 %}img/post/before-i-wake-movie.jpg{% endblock %}
{% block isi3 %}Sinopsis:
Film ini menceritakn mengenai kisah sepasang suami istri yaitu Jessie yang diperankan oleh Kte Bosworth dan juga Mark yang diperankan oleh Thomas Jane. Pada awalnya kehidupan mereka sangat menyenangkan karena dihiasi oleh kehadiran anak tunggal mereka, namun sesudah itu kejanggalan mulai terjadi pada saat anak tunggal mereka meninggal dunia. tak lama setelah mereka begitu larut didalam kesehdihan, mereka memutuskan untuk mengadopsi seseorang anak yang berusia 8 tahun disini diperankan oleh Jacob Tremblay yang bernama Cody, Cody sangat beruntung sekali diberikan orang tua asuh yang sangat menyayanginya..{% endblock %}
