{% extends "base.html" %}
{% block title %}We - Film{% endblock %}

{% block judul_besar %}Film{% endblock %}

{% block judul1 %}War Craft2{% endblock %}
{% block author1 %}Fahri Rizki{% endblock %}
{% block img1 %}img/post/1.jpg{% endblock %}
{% block isi1 %}ini merupakan isi Film 1 :Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, veritatis, tempora, necessitatibus inventore nisi quam quia repellat ut tempore laborum possimus eum dicta id animi corrupti debitis ipsum officiis rerum.{% endblock %}

{% block judul2 %}Now You See Me2{% endblock %}
{% block author2 %}Fahri Rizki{% endblock %}
{% block img2 %}img/post/2.jpg{% endblock %}
{% block isi2 %}ini merupakan isi Film2 :Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, veritatis, tempora, necessitatibus inventore nisi quam quia repellat ut tempore laborum possimus eum dicta id animi corrupti debitis ipsum officiis rerum.{% endblock %}


{% block judul3 %}The Conjuring2{% endblock %}
{% block author3 %}Fahri Rizki{% endblock %}
{% block img3 %}img/post/3.jpg{% endblock %}
{% block isi3 %}ini merupakan isi Film3 :Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, veritatis, tempora, necessitatibus inventore nisi quam quia repellat ut tempore laborum possimus eum dicta id animi corrupti debitis ipsum officiis rerum.{% endblock %}
