{% extends "base.html" %}
{% block title %}We - Info Beasiswa{% endblock %}

{% block judul_besar %}Info Beasiswa{% endblock %}

{% block judul1 %}Beasiswa Mahasiswa Berprestasi{% endblock %}
{% block author1 %}Fahri Rizki{% endblock %}
{% block img1 %}img/post/1.jpg{% endblock %}
{% block isi1 %}ini merupakan isi Info Beasiswa 1 :Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, veritatis, tempora, necessitatibus inventore nisi quam quia repellat ut tempore laborum possimus eum dicta id animi corrupti debitis ipsum officiis rerum.{% endblock %}

{% block judul2 %}Beasiswa Nasional{% endblock %}
{% block author2 %}Fahri Rizki{% endblock %}
{% block img2 %}img/post/2.jpg{% endblock %}
{% block isi2 %}ini merupakan isi Info Beasiswa2 :Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, veritatis, tempora, necessitatibus inventore nisi quam quia repellat ut tempore laborum possimus eum dicta id animi corrupti debitis ipsum officiis rerum.{% endblock %}


{% block judul3 %}Beasiswa Bank BII{% endblock %}
{% block author3 %}Fahri Rizki{% endblock %}
{% block img3 %}img/post/3.jpg{% endblock %}
{% block isi3 %}ini merupakan isi Info Beasiswa3 :Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, veritatis, tempora, necessitatibus inventore nisi quam quia repellat ut tempore laborum possimus eum dicta id animi corrupti debitis ipsum officiis rerum.{% endblock %}
