{% extends "base.html" %}
{% block title %}We - Musik{% endblock %}

{% block judul_besar %}Musik{% endblock %}

{% block judul1 %}Resmi Solo Karier, Harry Styles Ucapkan Selamat Tinggal pada 1D?
{% endblock %}
{% block author1 %}Fahri Rizki{% endblock %}
{% block img1 %}img/post/musik1.png{% endblock %}
{% block isi1 %}Los Angeles - Harry Styles sepertinya sudah memantapkan langkahnya untuk menekuni solo karier. Ia yang kini tengah sibuk dalam proyek film Dunkirk, baru-baru ini dikabarkan sudah menandatangani kontrak dengan label rekaman tempat di mana One Direction bernaung...{% endblock %}

{% block judul2 %}Vienna Fridiana Ingin Angkat Pamor Lagu Daerah{% endblock %}
{% block author2 %}Fahri Rizki{% endblock %}
{% block img2 %}img/post/musik2.jpg{% endblock %}
{% block isi2 %}Jakarta - Meski kurang mendapat perhatian, lagu-lagu pop daerah sebenarnya masih tetap banyak diproduksi. Salah seorang penyanyi yang masih setia dengan lagu daerah adalah Vienna Fridiana...{% endblock %}


{% block judul3 %}Benarkah Coldplay Bakal Konser di Indonesia?
{% endblock %}
{% block author3 %}Fahri Rizki{% endblock %}
{% block img3 %}img/post/musik3.png{% endblock %}
{% block isi3 %}Jakarta - Di situs jejaring sosial, muncul poster yang menyebutkan grup band asal Inggris, Coldplay, akan menggelar konser di Indonesia. Kabar tersebut menyampaikan, Chris Martin dkk bakal tampil pada 26 November 2016 di ICE BSD City, Tangerang, Banten..{% endblock %}
