{% extends "base2.html" %}
{% block title %}We - Berita{% endblock %}

{% block judul_besar %}Berita{% endblock %}

{% block judul1 %}Menteri Jonan Minta Perketat Pengawasan Kapal di Merak{% endblock %}
{% block author1 %}Fahri Rizki{% endblock %}
{% block img1 %}img/post/merak.jpg{% endblock %}
{% block isi1 %} Cilegon - Menteri Perhubungan Ignatius Jonan meminta pengawasan dan keamanan kapal di Pelabuhan Merak, Kota Cilegon, Banten, lebih diperketat jelang Lebaran.
<br><br>
"Saya minta Kantor Syahbandar dan Otoritas Pelabuhan (KSOP) memperketat pengawasan kapal. Kalau tidak layak jangan diizinkan beroperasi," kata Jonan dalam teleconference, saat mengecek kesiapan arus mudik di Pelabuhan Merak, Kota Cilegon, Banten, Jumat (24/06/2016).
<br><br>
Dia pun meminta KSOP Banten untuk memastikan kelayakan armada kapal yang akan digunakan saat arus mudik atau  arus balik Idul Fitri 2016.
<br><br>
Ketua KSOP Banten Nafri mengaku siap membuat nyaman penumpang di Pelabuhan Merak. Dari 62 kapal yang diperiksa dan di uji, seluruhnya dinyatakan masih layak jalan.
<br><br>
"Hanya ada beberapa temuan saja tapi itu bukan kendala karena masih bisa diperbaiki dan itu terjadi karena belum terbiasa saja," kata Nafri saat menjawab dalam teleconfrence dengan Jonan.{% endblock %}