{% block judul2 %}Tim SAR Hentikan Operasi Longsor Purworejo dan Kebumen{% endblock %}
{% block author2 %}Fahri Rizki{% endblock %}
{% block img2 %}img/post/Longsor_Purworejo.jpg{% endblock %}
{% block isi2 %}Setelah menggelar operasi penyelamatan dan pencarian korban longsor Purworejo dan Kebumen, hari ini seluruh operasi SAR resmi ditutup, setelah tujuh hari berlangsung...

Kepala Basarnas Jawa Tengah Agus Haryono mengatakan, penghentian operasi ini karena  kemungkinan menemukan korban selamat sangat kecil. 

Kalau pun menemukan korban meninggal, kata Agus, kondisi jenazah sudah rusak. Sehingga malah membahayakan kesehatan tim SAR. 

"Kami juga sudah melibatkan keluarga dan sudah ikhlas," kata Agus, Purworejo, Jawa Tengah, Jumat (24//6/2016).

"Ini bukan berarti pencarian dihentikan sama sekali, karena masih ada relawan dan masyarakat setempat yang berupaya mencari para korban," sambung dia.

Hingga operasi SAR ditutup, masih ada tiga korban di Purworejo yang belum ditemukan. Yakni Slamet, Jumadi, dan Saman. Sedangkan di Kebumen tinggal satu warga, Sutinyem.

"Kami turut berbela sungkawa terhadap para korban meninggal dalam bencana ini. Semoga arwahnya mendapat tempat yang sebaik-baiknya di sisi Allah SWT, dan bencana ini tidak terulang lagi, " pungkas Agus.

Sementara, Bupati Kebumen HM Yahya Fuad dalam penutupan operasi menyampaikan terima kasihnya kepada seluruh tim yang terlibat pencarian korban longsor. Serta kepada Kepala Basarnas Jawa Tengah Agus Haryono. 
{% endblock %}
