{% extends "base2.html" %}
{% block title %}We - Berita{% endblock %}

{% block judul_besar %}Berita{% endblock %}

{% block judul1 %}Lift Jatuh, 1 Karyawan Dealer Vespa di Bogor Tewas{% endblock %}
{% block author1 %}Fahri Rizki{% endblock %}
{% block img1 %}img/post/merak.jpg{% endblock %}
{% block isi1 %} Sebuah lift di dealer Vespa Piagio di Jalan Pajajaran, Kelurahan Baranangsiang, Kecamatan Bogor Timur, Kota Bogor, Jawa Barat, jatuh. Insiden lift jatuh ini mengakibatkan seorang karyawan dealer vespa matic tewas, sedangkan satu orang lainnya mengalami luka...

Korban meninggal dunia bernama Agus Suryadi (20) warga Cipaku, Kecamatan Bogor Selatan, Kota Bogor. Sedangkan korban luka bernama Harun (20), rekan kerja yang juga tetangga Agus.

Berdasarkan informasi yang diperoleh Liputan6.com, insiden lift jatuh terjadi pada Jumat 24 Juni 2016 sekitar pukul 19.00 WIB. Agus bersama Harun naik dari lantai dasar menuju ke lantai empat membawa perangkat alat penerangan untuk dealer motor Vespa Piagio.

Setiba di lantai empat, tiba-tiba lift jatuh akibat sling lift putus. Agus pun ikut terbawa lift hingga ke lantai dasar. Korban tewas di tempat akibat mengalami luka parah pada bagian kepala.

"Keterangan dari saksi bernama Roni, pintu lift sempat terbuka. Beberapa saat setelah Harun keluar dari Lift, tiba-tiba selingnya putus dan jatuh," ucap Kapolsek Bogor Timur Kompol Marsudi Widodo di Mapolsek Bogor Timur, Jumat malam, 24 Juni 2016.

Marsudi menjelaskan, keduanya bekerja sebagai cleaning service di dealer motor Vespa Piagio cabang Bogor. Saat itu, Agus hendak membawa perangkat alat penerangan untuk dealer motor vespa ke lantai empat. "Diduga seling lift putus."

Hingga kini, polisi masih menyelidiki penyebab jatuhnya lift yang menewaskan pekerja perusahaan itu. "Kami masih menyelidiki penyebab dan memintai keterangan dari sejumlah saksi," ujar Marsudi.

Korban tewas langsung dilarikan ke RS Bhayangkara guna dilakukan autopsi. Sementara Roni yang mengalami luka pada bagian tangan dibawa ke Rumah Sakit PMI Bogor untuk mendapatkan perawatan. Adapun sejauh ini belum ada keterangan resmi dari pihak dealer Vespa Piagio cabang Bogor terkait insiden lift jatuh tersebut.
{% endblock %}