{% extends "base.html" %}
{% block title %}We - Teknologi{% endblock %}

{% block judul_besar %}Teknologi{% endblock %}

{% block judul1 %}HardWare Canggih{% endblock %}
{% block author1 %}Ridho Ade Putra{% endblock %}
{% block img1 %}img/post/1.jpg{% endblock %}
{% block isi1 %}ini merupakan isi teknologi 1 :Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, veritatis, tempora, necessitatibus inventore nisi quam quia repellat ut tempore laborum possimus eum dicta id animi corrupti debitis ipsum officiis rerum.{% endblock %}

{% block judul2 %}Cara Membobol Password{% endblock %}
{% block author2 %}Fahri Rizki{% endblock %}
{% block img2 %}img/post/2.jpg{% endblock %}
{% block isi2 %}ini merupakan isi Teknologi2 :Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, veritatis, tempora, necessitatibus inventore nisi quam quia repellat ut tempore laborum possimus eum dicta id animi corrupti debitis ipsum officiis rerum.{% endblock %}


{% block judul3 %}Bahasa Pemrograman Tertua{% endblock %}
{% block author3 %}Fahri Rizki{% endblock %}
{% block img3 %}img/post/3.jpg{% endblock %}
{% block isi3 %}ini merupakan isi 3 :Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, veritatis, tempora, necessitatibus inventore nisi quam quia repellat ut tempore laborum possimus eum dicta id animi corrupti debitis ipsum officiis rerum.{% endblock %}
