<ul class="quotes">
<h2>Daftar postingan Forum</h2>
  <% for(var i=0; i<quotes.length; i++) {%>
    <li class="quote">
      judul:&nbsp<%= quotes[i].name %>
      </br>isi:&nbsp<%= quotes[i].quote %>
    </li>
  <% } %>
</ul>
<div>
  <button id="update"> update </button>
</div>