bs3-template:<!DOCTYPE html>
<html>
<head>
	<title>Commenters</title>
	<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/default.css">
</head>
<body>

	<div class="container-fluid display-table">
      <div class="row display-table-row">
        <div class="col-md-2 col-sm-1 hidden-xs display-table-cell valign-top" id="side-menu">
          <h1 class="hidden-xs hidden-sm">Navigation</h1>
          <ul>
          <li class="link active">
            <a href="/admin">
              <span class="glyphicon glyphicon-th" aria-control="true"></span>
              <span class="hidden-xs hidden-sm">Dashboard</span>
            </a>
          </li>


           <li class="link">
            <a href="#collapse-post" data-toggle="collapse" aria-controls="collapse-post">
              <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
              <span class="hidden-xs hidden-sm">Article</span>
              <span class="label label-success pull-right hidden-xs hidden-sm">20</span>
            </a>
            <ul class="collapse collapseable" id="collapse-post">
              <li><a href="/articlebaru">Create New</a></li>
              <li><a href="/articles">View Article</a></li>
            </ul>
          </li>

          <li class="link">
            <a href="#collapse-comments" data-toggle="collapse" aria-controls="collapse-comments">
            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
            <span class="hidden-xs hidden-sm">Comments</span>
            </a>
            <ul class="collapse collapseable" id="collapse-comments">
              <li>
              <a href="/approved">Approved
                <span class="label label-success pull-right hidden-xs hidden-sm">10</span>
              </a>
              </li>
              <li>
              <a href="/unapproved">Unapproved
                <span class="label label-warning pull-right hidden-xs hidden-sm">20</span>
              </a>
              </li>
            </ul>
          </li>

           <li class="link">
            <a href="/komentar">
              <span class="glyphicon glyphicon-user" aria-control="true"></span>
              <span class="hidden-xs hidden-sm">Commenters</span>
            </a>
          </li>

           <li class="link">
            <a href="/tags">
              <span class="glyphicon glyphicon-tags" aria-control="true"></span>
              <span class="hidden-xs hidden-sm">Tags</span>
            </a>
          </li>
          
          <li class="link setting-btn">
            <a href="/setting">
              <span class="glyphicon glyphicon-cog" aria-control="true"></span>
              <span class="hidden-xs hidden-sm">Settings</span>
            </a>
          </li>
          </ul>

        </div>
        <div class="col-md-10 col-sm-11 display-table-cell valign-top box">
        <div class="row">
          <header id ="nav-header" class="clearfix">
            <div class="col-md-5">
              <nav class="navbar-default pull-left">
                <button type="button" class="navbar-toggle collapsed" data-toggle="offcanvas" data-target="#side-menu">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
              </nav>
              <input type="text" class="hidden-sm hidden-xs" id="header-search-field"placeholder="search" width="100%">
            </div>
            <div class="col-md-7">
              <ul class="pull-right">
                <li id="welcome" class="hidden-xs">Welcome to your administrator area</li>
                <li class="fixed-width">
                  <a href="#">
                    <span class="glyphicon glyphicon-bell" aria-hidden="true"></span>
                    <span class="label label-warning">3</span>
                  </a>
                </li>

                <li class="fixed-width">
                  <a href="#">
                    <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                    <span class="label label-message">3</span>
                  </a>
                </li>

                 <li>
                  <a href="#" class="logout">
                    <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
                    log out
                  </a>
                </li>
              </ul>
            </div>
          </header>
        </div>

        <div id="content">
          <header class="clearfix">
            <div class="col-xs-5 col-sm-3 col-md-3">All commenters</div>
            <div class="col-xs-7 col-sm-9 col-md-9">
            	<button type="button" class="btn btn-xs btn-primary pull-right">Create new article</button>
            </div>


          </header>

        <div class="content-inner">

        <table class="content-inner">
        	<table class="table table-hover">
        		<thead>
        			<tr>
        				<td>#</td>
        				<td>Full Name</td>
        				<td>Emai</td>
        				<td>Status</td>
        				<td class="hidden-xs">Created</td>
        			</tr>
        		</thead>
        		<tbody>
        			<tr>
        				<td>1</td>
        				<td>Kongsley Ijomah</td>
        				<td>kongsley.ijomah@gmail.com</td>
        				<td><span class="label label-success">active</span></td>
        				<td class="hidden-xs">20-10-2016</td>
        			</tr>
        			<tr> 
        				<td>1</td>
        				<td>Herwin Hidayat</td>
        				<td>herwindayat@gmail.com</td>
        				<td><span class="label label-warning">pending</span></td>
        				<td class="hidden-xs">23-07-2016</td>
        			</tr>
        		</tbody>
        		
        	</table>
        	
        </table>

        </div>

        <div class="row">
          <footer id="admin-footer" class="clearfix">
            <div class="pull-left"><b>Copyright </b>&copy; 2015</div>
            <div class="pull-right">Admin system</div>
          </footer>
        </div>
      </div>
    </div>
	


	<script src="js/jquery.js"></script>
		<!-- Bootstrap JavaScript -->
	<script src="bootstrap/js/bootstrap.min.js"></script>
</body>
</html>