<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<div
  class="fb-like"
  data-share="true"
  data-width="450"
  data-show-faces="true">
</div>


 <script type="text/javascript" src="js/fb.js"/></script>
  <div id="status"></div>
  
  <br>
  <form >
    <br>
  Nama:<input type="text" name="nama" id="nama" readonly="true">
  Id:<input type="text" name="fb_id" id="fb_id"  readonly="true"><br><br>
  Gender:<input type="text" name="fb_id" id="gender"  ><br><br>


  <br><br>
  <a href="/" ><button > Sesuai</button></a>
</form>
<br>
  <button onclick="getInfo()">Load</button>
<br>

 <button onclick="login()" id="login">Login</button>


</body>
</html>