{% extends "base.html" %}
{% block title %}We - HOME{% endblock %}

{% block judul_besar %}Tranding{% endblock %}

{% block judul1 %}Salah Satu Gurun Terindah{% endblock %}
{% block author1 %}Alfrido Nezer{% endblock %}
{% block img1 %}img/post/1.jpg{% endblock %}
{% block isi1 %}ini merupakan isi 1 :Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, veritatis, tempora, necessitatibus inventore nisi quam quia repellat ut tempore laborum possimus eum dicta id animi corrupti debitis ipsum officiis rerum.{% endblock %}

{% block judul2 %}Mercusuar Tertua{% endblock %}
{% block author2 %}Herwin Hidayat{% endblock %}
{% block img2 %}img/post/2.jpg{% endblock %}
{% block isi2 %}ini merupakan isi 2 :Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, veritatis, tempora, necessitatibus inventore nisi quam quia repellat ut tempore laborum possimus eum dicta id animi corrupti debitis ipsum officiis rerum.{% endblock %}


{% block judul3 %}Pinguin{% endblock %}
{% block author3 %}Fahri Rizki{% endblock %}
{% block img3 %}img/post/3.jpg{% endblock %}
{% block isi3 %}ini merupakan isi 3 :Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, veritatis, tempora, necessitatibus inventore nisi quam quia repellat ut tempore laborum possimus eum dicta id animi corrupti debitis ipsum officiis rerum.{% endblock %}
