{% extends "base.html" %}
{% block title %}We - HOME{% endblock %}

{% block judul_besar %}Tranding{% endblock %}

{% block judul1 %}Polemik Indosat Vs Telkomsel, BRTI Siap Kenakan Sanksi{% endblock %}
{% block author1 %}Alfrido Nezer{% endblock %}
{% block img1 %}img/post/tekno1.jpg{% endblock %}
{% block isi1 %}Berkaitan dengan beredarnya foto-foto kampanye below the line (BTL) Indosat Ooredoo yang 'menyerang' Telkomsel, Badan Regulasi Telekomunikasi Indonesia (BRTI) telah bertemu dengan perwakilan Indosat...{% endblock %}
{% block rm %}/rm1tekno{% endblock %}

{% block judul2 %}Inilah Teknik Jitu Hadapi Jambret{% endblock %}
{% block author2 %}Fahri Rizki{% endblock %}
{% block img2 %}img/post/jambret.jpg{% endblock %}
{% block isi2 %}Kira-kira, apa reaksi Anda bila tiba-tiba di jambret di tengah jalan? Mungkin ada yang akan teriak minta tolong, ada yang mati-matian mengejar pelaku atau bahkan ada yang cuma bisa diam terpaku tak tahu harus berbuat apa...{% endblock %}
{% block rm2 %}/rm2tips{% endblock %}


{% block judul3 %}Benarkah Coldplay Bakal Konser di Indonesia?
{% endblock %}
{% block author3 %}Alrido Nezer{% endblock %}
{% block img3 %}img/post/musik3.png{% endblock %}
{% block isi3 %}Jakarta - Di situs jejaring sosial, muncul poster yang menyebutkan grup band asal Inggris, Coldplay, akan menggelar konser di Indonesia. Kabar tersebut menyampaikan, Chris Martin dkk bakal tampil pada 26 November 2016 di ICE BSD City, Tangerang, Banten..{% endblock %}
{% block rm3 %}/rm3musik{% endblock %}