{% extends "base.html" %}
{% block title %}We - Info Beasiswa{% endblock %}

{% block judul_besar %}Info Beasiswa{% endblock %}

{% block judul1 %}Beasiswa Bidikmisi Kemenristekdikti 2016{% endblock %}
{% block author1 %}Fahri Rizki{% endblock %}
{% block img1 %}img/post/dikti.jpg{% endblock %}
{% block isi1 %}Ini kesempatan bagi lulusan SMA/SMK/MA/sederajat yang memiliki keterbatasan ekonomi melanjutkan pendidikan ke perguruan tinggi. Beasiswa Bidikmisi Kemenristekdikti 2016 kembali dibuka. Pelamar bisa mengajukan Beasiswa Bidikmisi 2016 tersebut untuk kuliah di perguruan tinggi negeri (PTN) maupun perguruan tinggi swasta (PTS) di dalam negeri... 
{% endblock %}
{% block rm %}/rm1info{% endblock %}



{% block judul2 %}Beasiswa PPA 2016 – BPP PPA 2016{% endblock %}
{% block author2 %}Fahri Rizki{% endblock %}
{% block img2 %}img/post/beasiswa.jpg{% endblock %}
{% block isi2 %}Beragam beasiswa kuliah bisa Anda coba untuk mendanai kebutuhan studi yang membebani. Peluang beasiswa itu ada yang ditujukan bagi pelamar yang baru akan kuliah atau mereka yang saat ini sedang menjalani studi (on going). Nah, peluang beasiswa satu ini ditujukan bagi Anda yang sudah berstatus mahasiswa, baik yang tengah kuliah di perguruan tinggi negeri (PTN) atau pun perguruan tinggi swasta (PTS). Namanya sudah tidak asing. Beasiswa Peningkatan Prestasi Akademik (Beasiswa-PPA) dan Bantuan Biaya Pendidikan Peningkatan Prestasi Akademik (BPP-PPA). ..{% endblock %}


{% block rm2 %}/rm2info{% endblock %}


{% block judul3 %}Beasiswa Jepang untuk Lulusan SMA/Sederajat 2017{% endblock %}
{% block author3 %}Fahri Rizki{% endblock %}
{% block img3 %}img/post/jepang.jpg{% endblock %}
{% block isi3 %}Kabar baik ini akhirnya muncul juga. Beasiswa Pemerintah Jepang (Monbukagakusho) untuk lulusan SMA/sederajat tahun 2017 akhirnya dibuka kembali. Pendaftaran sudah tersedia bagi Anda para lulusan SMA/sederajat yang berminat mengajukan diri. Ada beberapa pilihan jurusan dan jenjang studi yang disediakan untuk mendaftar Beasiswa Pemerintah Jepang 2017. Yakni S1 untuk studi di Universitas, D3 di College of Technology, dan D2 di Specialized Training College di Jepang. 
..{% endblock %}
{% block rm3 %}/rm3info{% endblock %}