{% extends "base.html" %}
{% block title %}We - Lowongan{% endblock %}

{% block judul_besar %}Lowongan{% endblock %}

{% block judul1 %}Lowongan Kerja PT Pelindo Daya Sejahtera{% endblock %}
{% block author1 %}Ridho Ade Putra{% endblock %}
{% block img1 %}img/post/pelindo.jpg{% endblock %}
{% block isi1 %}PT Pelindo Daya Sejahtera atau PTPDS adalah salah satu anak perusahaan dari PT Pelindo III yang khusus bergerak di bidang alih daya. PT Pelindo III (Persero) adalah salah satu Badan Usaha Milik Negara yang bergerak dalam sektor perhubungan. PT Pelindo III mendirikan PT Pelindo Daya Sejahtera dengan tujuan untuk meningkatkan kesejahteraan tenaga outsourcing secara profesional. Untuk meningkatkan kinerja serta mewujudkan visi misi nya, PT Pelindo Daya Sejahtera kembali membuka Lowongan Kerja kesempatan kepada putra putri Indonesia ...{% endblock %}
{% block rm %}/rm1kerja{% endblock %}


{% block judul2 %}Lowongan Kerja BUMN PT INALUM (Indonesia Asahan Aluminium){% endblock %}
{% block author2 %}Fahri Rizki{% endblock %}
{% block img2 %}img/post/inalum.jpg{% endblock %}
{% block isi2 %}Para pencari Loker (Lowongan Kerja) yang berbahagia. Kali ini admin kembali akan berbagi info loker terbaru. Kali ini Lowongan kerja terbaru datang dari salah satu Perusahaan di Indonesia yaitu : PT INALUM (Indonesia Asahan Aluminium).  PT PT INALUM (Indonesia Asahan Aluminium) merupakan salah satu  BUMN yang bergerak dibidang peleburan aluminium dengan produk akhir berupa aluminium batangan. Untuk meningkatkan kinerjanya, PT PT INALUM  kembali membuka kesempatan kepada putra putri Indonesia untuk bergabung menjadi bagian dari PT PT INALUM...{% endblock %}
{% block rm2 %}/rm2kerja{% endblock %}

{% block judul3 %}Lowongan Kerja Bank Mandiri Syariah{% endblock %}
{% block author3 %}Fahri Rizki{% endblock %}
{% block img3 %}img/post/mandiri.jpg{% endblock %}
{% block isi3 %}Bank Syariah Mandiri adalah salah satu lembaga perbankan di Indonesia. Bank ini berdiri pada 1955 dengan nama Bank Industri Nasional. Bank ini beberapa kali berganti nama dan terakhir kali berganti nama menjadi Bank Syariah Mandiri. Bank Syariah Mandiri telah tumbuh dan berkembang pesat hingga saat ini. Pertumbuhan tersebut tidak terlepas dari lingkungan kerja yang sehat dan harmonis. Untuk meningkatkan kinerja serta mewujudkan visi misi nya, Bank Mandiri Syariah kembali membuka Lowongan Kerja kesempatan kepada putra putri Indonesia...{% endblock %}
{% block rm3 %}/rm3kerja{% endblock %}