<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>#1336 - Profile Card</title>
        <link rel="stylesheet" href="css/profiles.css">
  </head>

  <body>  


<div id="kotak">
<figure class="snip1336">
  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample87.jpg" alt="sample87" />
  <figcaption>
    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/profile-sample4.jpg" alt="profile-sample4" class="profile" id="foto"/>
    <h2 id="nama"></h2>
    <p id="fbid"> </p>
    <a href="#" class="follow">Follow</a>
    <a href="#" class="info">More Info</a>
  </figcaption>
</figure>

Judul :<input type=text name="judul"><br>
Kategori:<select align="right" placeholder="Pilih Category" name="tags" >
                    <option></option>
                    <option>Teknologi</option>
                    <option>Lowongan Kerja</option>
                    <option>Beasiswa</option>
                    <option>Berita</option>
                    <option>Film</option>
                    <option>Musik</option>
   </select><br>
  Isi &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp:<textarea name="isi" rows=6 width=200></textarea>
<button type="submit"> Ajukan</button>
</div>

</table>
    <script src='js/jquery.js'></script>

        <script src="js/index.js"></script>
  </body>
</html>
