{% extends "base2.html" %}
{% block title %}We - Film{% endblock %}

{% block judul_besar %}Film{% endblock %}

{% block judul %}Lost in White
(冰河追凶 / Bing he zhui xiong)
(2016){% endblock %}
{% block author %}Fahri Rizki{% endblock %}
{% block img %}img/post/lost-in-white-2016.jpg{% endblock %}
{% block isi %}Sinopsis:
Di sebuah desa kecil, di mana tanah itu tertutup salju tebal, mayat ditemukan di sebuah sungai es. Detektif Zhou Peng dan Wang Hao pergi ke desa mencari pelaku. Apa yang mereka temukan adalah sebuah kebenaran yang jauh lebih rumit.
<br>
<img src="img/post/film26.jpg"><br>
<img src="img/post/film36.jpg">
{% endblock %}