{% extends "base2.html" %}
{% block title %}We - Info Mahasiswa{% endblock %}

{% block judul_besar %}Info Mahasiswa{% endblock %}

{% block judul %}Beasiswa Bidikmisi Kemenristekdikti 2016{% endblock %}
{% block author %}Fahri Rizki{% endblock %}
{% block img %}img/post/dikti.jpg{% endblock %}
{% block isi %}Bidikmisi adalah bantuan dana pendidikan. Prioritasnya adalah pelamar dari keluarga kurang mampu tapi memiliki prestasi sebagai pertimbangannya. Beasiswa ini disediakan pemerintah melalui Kemenristekdikti setiap tahunnya. Tahun lalu ada 60 ribu kuota Beasiswa Bidikmisi disediakan. Di 2016, kuota Beasiswa Bidikmisi diberitakan naik jadi 75 ribu. Jumlah ini tentu semakin memberi peluang bagi Anda yang ingin melanjutkan studi ke perguruan tinggi tapi memiliki keterbatasan ekonomi. 
<br><br>
Beasiswa Bidikmisi diberikan sejak mahasiswa ditetapkan sebagai penerima Bidikmisi di perguruan tinggi. Untuk S1 atau Diploma IV beasiswa diberikan hingga 8 semester, D3 maksimal 6 semester, D2 maksimal 4 semester, dan D1 maksimal 2 semester. Sementara, khusus program sarjana yang memerlukan keprofesian dan merupakan satu kesatuan, akan diberikan penambahan Bidikmisi hingga lulus. Misalnya pendidikan dokter maksimal penambahan 4 semester, dokter gigi maksimal 4 semester, Ners maksimal 2 semester, dan profesi lainnya. 
<br><br>
Bantuan Bidikmisi untuk program profesi tersebut diberikan kepada mahasiswa yang langsung melanjutkan studi keprofesiannya pada perguruan tinggi yang sama. 
<br><br>
Pelamar yang mendaftar Bidikmisi 2016 akan dibebaskan dari biaya pendaftaran SNMPTN, SBMPTN, dan seleksi mandiri pada salah satu perguruan tinggi. Jika diterima Bidikmisi nantinya, pelamar dibebaskan dari biaya pendidikan, bantuan biaya hidup sekurangnya Rp 600.000 per bulan. Selain itu disediakan biaya kedatangan “at cost”, serta biaya hidup awal bagi calon mahasiswa yang berasal dari luar kota yang besarnya setara dengan bantuan biaya hidup satu bulan.  
<br><br>
Persyaratan: 
1. Siswa SMA/SMK/MA atau bentuk lain yang sederajat yang akan lulus pada tahun 2016
2. Lulusan tahun 2015 yang bukan penerima Bidikmisi dan tidak bertentangan dengan ketentuan penerimaan mahasiswa baru di masing- masing perguruan tinggi
3. Usia paling tinggi pada saat mendaftar adalah 21 tahun
4. Tidak mampu secara ekonomi dengan kriteria:
   a. Siswa penerima Beasiswa Siswa Miskin (BSM) atau Pemegang Kartu Indonesia Pintar atau sejenis; atau
   b. Pendapatan kotor gabungan orangtua/wali (suami istri) maksimal sebesar Rp 3.000.000,00 per bulan dan atau pendapatan kotor gabungan orangtua/wali dibagi jumlah anggota keluarga maksimal Rp 750.000,00 setiap bulannya.
5. Pendidikan orang tua/wali setinggi-tingginya S1 (Strata 1) atau Diploma 4
6. Memiliki potensi akademik baik berdasarkan rekomendasi obyektif dan akurat dari Kepala Sekolah
7. Pendaftar difasilitasi untuk memilih salah satu diantara PTN atau PTS dengan ketentuan:
   a. PTN dengan pilihan seleksi masuk:
      1) Seleksi Masuk Perguruan Tinggi Negeri (SNMPTN)
      2) Seleksi Bersama Masuk Perguruan Tinggi Negeri (SBMPTN)
      3) Seleksi Mandiri PTN
   b. Politeknik, UT, dan ISI
   c. PTS sesuai dengan pilihan seleksi masuk
<br><br>
Kuota Bidikmisi diperuntukkan bagi mahasiswa yang lulus SNMPTN, SBMPTN, Seleksi Mandiri PTN, Seleksi di Politeknik, UT, ISI, serta seleksi di PTS. 
<br><br>
Pendaftaran: 
Pengajuan Beasiswa Bidikmisi 2016 bisa dilakukan secara online dengan mendaftar di laman Bidikmisi: http://belmawa.ristekdikti.go.id/bidikmisi
<br><br>
Tahapan pendaftaran meliputi:<br>
&nbspa. Sekolah mendaftarkan diri sebagai instansi pemberi rekomendasi ke laman bidikmisi dengan melampirkan hasil pindaian (scan) (Lampiran II bagian persetujuan dan tanda tangan) untuk mendapatkan nomor Kode Akses Sekolah.<br>
&nbspb. Ditjen Belmawa memverifikasi pendaftaran dalam kurun waktu 1 x 24 jam pada hari dan jam kerja.<br>
&nbspc. Sekolah merekomendasikan masing-masing siswa melalui laman bidikmisi menggunakan kombinasi NPSN dan Kode akses yang telah diverifikasi<br>
&nbspd. Sekolah memberikan nomor pendaftaran dan kode akses kepada masing masing siswa yang sudah direkomendasikan<br>
&nbspe. Siswa mendaftar melalui laman bidikmisi dan menyelesaikan semua tahapan yang diminta di dalam sistem pendaftaran.<br>
<br><br>
Siswa yang sudah menyelesaikan pendaftaran bidikmisi kemudian mendaftar seleksi nasional atau mandiri untuk masuk perguruan tinggi, misalnya SNMPTN, SBMPTN, PMDK Politeknik, maupun seleksi mandiri di masing-masing PTN atau PTS. 
<br><br>
Siswa yang mendaftar dan ditetapkan lolos seleksi masuk perguruan tinggi, kemudian melengkapi berkas berikut dan dibawa pada saat pendaftaran ulang:<br>
a. Kartu peserta dan formulir pendaftaran program Bidikmisi yang dicetak dari sistem Bidikmisi<br>
b. Surat keterangan lulus dari Kepala Sekolah<br>
c. Fotokopi rapor semester 1 (satu) s.d. 6 (enam) yang dilegalisir oleh Kepala Sekolah<br>
d. Fotokopi ijazah yang dilegalisir oleh Kepala Sekolah<br>
e. Fotokopi nilai ujian akhir nasional yang dilegalisir oleh Kepala Sekolah<br>
f. Surat keterangan tentang prestasi/peringkat siswa di kelas dan bukti pendukung prestasi lain di bidang ekstrakurikuler yang disahkan (legalisasi) oleh Kepala Sekolah (bila ada)<br>
g. Kartu Indonesia Pintar (KIP) atau Beasiswa Siswa Miskin (BSM), bila ada
h. Bagi yang belum mememnuhi syarat poin (g) diatas, maka harus membawa Surat Keterangan Penghasilan Orang tua/wali atau Surat Keterangan Tidak Mampu yang dapat dibuktikan kebenarannya, yang dikeluarkan oleh Kepala desa/Kepala dusun/Instansi tempat orang tua bekerja/tokoh masyarakat<br>
i. Fotokopi Kartu Keluarga atau Surat Keterangan tentang susunan keluarga<br>
j. Fotokopi rekening listrik bulan terakhir (apabila tersedia aliran listrik) dan atau bukti pembayaran PBB (apabila mempunyai bukti pembayaran) dari orang tua/wali-nya.<br>
<br><br>
Pendaftaran Beasiswa Bidikmisi 2016 dibuka mulai 4 Februari – 1 September 2016. Informasi pertanyaan bisa disampaikan melalui email: bidikmisi@dikti.go.id atau kunjungi alamat website Bidikmisi yang tertera. 
{% endblock %}