{% extends "base2.html" %}
{% block title %}We - Lowongan{% endblock %}

{% block judul_besar %}Lowongan{% endblock %}

{% block judul %}Lowongan Kerja PT Pelindo Daya Sejahtera{% endblock %}
{% block author %}Fahri Rizki{% endblock %}
{% block img %}img/post/pelindo.jpg{% endblock %}
{% block isi %} 
Posisi Loker :<br><br>

Kami Anak Perusahaan PT Pelabuhan Indonesia III (Persero) Bergerak Di Bidang Jasa Tenaga Kerja Berpusat Di Surabaya Membutuhkan karyawan dengan posisi sebagai :
<br><br>
1. ANGGOTA SEKURITI ( KODE : PS-10 )
<br><br>
PERSYARATAN :<br>
Laki-laki / Perempuan<br>
Usia Min. 18 th, Mak. 30 th per 1 Mei 2016<br>
Pendidikan terakhir Min SMA / Sederajat<br>
Tinggi Badan Min. 166Cm, Berat Badan Proporsional<br>
Tidak Bertindik, Bertato, Buta Warna, dan Berkacamata/ Softlens<br>
Sehat jasmani dan rohani
Bersedia kerja shift<br>
Diutamakan putera daerah Bali<br>
Proses Seleksi dan Rekrutmen dilakukan di Bali
<br><br>

2. OPERATOR APLIKASI GEN-C DAN SPINNER ( KODE : OPN-10 )
<br><br>
PERSYARATAN LOKER :<br>
Laki-laki / Perempuan<br>
Usia Min. 18 th, Mak. 30 th per 1 Mei 2016<br>
Pendidikan terakhir Min SMA / Sederajat<br>
Sehat jasmani dan rohani<br>
Bersedia kerja shift<br>
Diutamakan Putera Daerah Bali<br>
Proses Seleksi dan Rekrutmen dilakukan di Bali

<br><br>
Penempatan : Benoa
<br><br>
DOKUMEN PERSYARATAN :<br>
Surat Lamaran <br>
Daftar riwayat hidup (CV) , <br>
Fotocopy KTP , <br>
Pas Foto 4x6 (1 Lembar) , <br>
Fotokopi ijazah<br>
transkrip/SKHU

<br><br>
Catatan :<br>
Pendaftaran loker PT Pelindo Daya Sejahtera terakhir : 09 Juli 2016
{% endblock %}