{% extends "base2.html" %}
{% block title %}We -Musik {% endblock %}

{% block judul_besar %}Musik{% endblock %}

{% block judul %}Resmi Solo Karier, Harry Styles Ucapkan Selamat Tinggal pada 1D?{% endblock %}
{% block author %}Fachry Rizki{% endblock %}
{% block img %}img/post/musik1.png{% endblock %}
{% block isi %} Harry Styles sepertinya sudah memantapkan langkahnya untuk menekuni solo karier. Ia yang kini tengah sibuk dalam proyek film Dunkirk, baru-baru ini dikabarkan sudah menandatangani kontrak dengan label rekaman tempat di mana One Direction bernaung.
<br><br>

Dikutip Mirror, Jumat (24/6/2016), Harry Styles kabarnya sudah menyetujui sebuah kontrak baru bersama Columbia Records dan siap untuk mengeluarkan album untuk debut solonya.
<br><br>



Walaupun belum jelas kapan Harry Styles akan kembali masuk dapur rekaman dan rilis lagu terbaru pertamanya, bisa dipastikan hal ini sangat ditunggu-tunggu oleh para penggemarnya.
<br><br>


Beberapa penggemar Harry Styles pun sudah bersemangat menyambut album debut solo mantan kekasih Taylor Swift ini. Para penggemar memberikan kehebohan tersebut melalui akun sosial media, Twitter.
<br><br>


Penampilan Harry Styles One Direction di acara iHeart Radio Jingle Ball di Staples Center, Los Angeles, beberapa waktu lalu. (Kevin Winter/Getty Images for iHeartMedia/AFP)
"Aku tak bisa terima, Harry Styles akan bersolo karier," tulis salah satu cuitan di Twitter. Atau, salah satu netizen menulis, "sukses untuk karier solomu, @Harry_Styles."
<br><br>

Sementara itu, Harry Styles adalah salah satu personil One Direction yang cepat mengambil langkah untuk bersolo karier. Di saat Niall Horan, Louis Tomlinson, dan Liam Payne sedang menikmati waktu liburnya, Harry Styles malah disibukkan dengan segudang kegiatan yang menantinya.
<br><br>

Belum lama ini, Harry Styles pun dikabarkan akan menjadi Mick Jagger dalam film biografi yang mengisahkan perjalanan band The Rolling Stones.{% endblock %}