{% extends "base2.html" %}
{% block title %}We - Berita{% endblock %}

{% block judul_besar %}Teknologi{% endblock %}

{% block judul %}Polemik Indosat Vs Telkomsel, BRTI Siap Kenakan Sanksi{% endblock %}
{% block author %}Ridho Ade Putra{% endblock %}
{% block img %}img/post/tekno1.jpg{% endblock %}
{% block isi %}Berkaitan dengan beredarnya foto-foto kampanye below the line (BTL) Indosat Ooredoo yang 'menyerang' Telkomsel, Badan Regulasi Telekomunikasi Indonesia (BRTI) telah bertemu dengan perwakilan Indosat.
<br>
Kami sebagai regulator telah memanggil Indosat untuk mendengarkan akar persoalan yang terjadi, meminta klarifikasi," ujar anggota Komite BRTI Agung Harsoyo, melalui keterangan tertulisnya.
<br><br>
Menurut Agung, pihak Indosat Ooredoo telah menjelaskan latar belakang yang mendasari kegiatan kampanye tersebut.
<br><br>

"Latar belakangnya antara lain posisi dominan Telkomsel, rencana network sharing Indosat dan mitranya yang belum terealisasi, rencana penurunan tarif interkoneksi yang tidak sesuai harapan serta sewa jaringan Telkom yang sulit di luar Jawa," jelasnya.
<br><br>

Berdasarkan klarifikasi tersebut, BRTI meminta Indosat untuk membuat pengaduan resmi ke BRTI. Dengan begitu, BRTI dapat mempelajari dan menindaklanjutinya.
<br><br>

Dari penjelasan itu, anggota komite BRTI lainnya, I Ketut Prihadi berjanji akan mempelajari rentetan alasan yang dikemukakan dan jika diperlukan bakal melakukan investigasi ke lapangan untuk menemukan pelanggaran-pelanggaran yang mungkin terjadi.
<br><br>

"Jika ada pelanggaran, BRTI dapat mengenakan sanksi administratif kepada operator yang melanggar," ujar Ketut.
<br><br>

Untuk diketahui, aktivitas BTL yang dilakukan Ooredoo adalah berupa spanduk dan poster, yang bertuliskan sindiran terhadap tarif seluler Telkomsel yang dinilai mahal, baik itu tarif SMS, telepon, dan internet. Kampanye ini mengajak pengguna untuk beralih ke layanan IM3.
<br><br>

Hari ini, Selasa (21/6/2016), giliran Telkomsel yang bertemu BRTI untuk memberikan penjelasan terkait masalah tersebut.  {% endblock %}