{% extends "base2.html" %}
{% block title %}We -Tips {% endblock %}

{% block judul_besar %}Tips{% endblock %}

{% block judul %}Tips Agar Printer Awet dan Hemat Biaya{% endblock %}
{% block author %}Fachry Rizki{% endblock %}
{% block img %}img/post/printer.jpg{% endblock %}
{% block isi %}Menjadi sebuah guyonan di kalangan pengguna printer bahwa kita akan lebih banyak menghabiskan uang untuk membeli tinta kartrid dibandingkan biaya membeli printer. Kenyataannya memang kita harus mengeluarkan banyak uang untuk kotak kecil ini  dan sedihnya, ia cenderung mengering lebih cepat dari yang kita duga.
<br><br>

Namun setelah pengalaman selama bertahun-tahun, para pengguna printer ternyata menemukan cara menghemat biaya. Dengan mengikuti beberapa tips cara penggunaan printer yang benar berikut ini, Anda akan dapat menghemat banyak tinta dan uang karena menggunakan printer dengan cara bijak.
<br><br>



1. Hati-hati dengan printer berharga murah
<br>
Kini dipasaran banyak dijual printer berharga murah. Penting untuk berhati-hati ketika membelinya karena mungkin saja perusahaan printer sengaja menjual printer murah hanya untuk mengambil untung dari penjualan tinta kartrid dibanding dari penjualan unit printer itu sendiri. Saat membeli sebuah printer, Anda harus selalu mengecek berapa harga tinta kartrid dan "life-span" (rentang hidup) kartrid tersebut. Bila Anda punya anggaran yang longgar, ada baiknya memilih printer yang lebih mahal namun awet. Pepatah lama berlaku disini; Ada harga, ada rupa.
<br><br>

2. Gunakan huruf (font) yang sesuai<br>

Beberapa tahun yang lalu, sekelompok pelajar Amerika mengejutkan dunia dengan membuktikan bahwa jika pemerintah AS mengganti jenis huruf yang lebih kecil pada semua laporan yang dicetak, itu akan menghemat anggaran hingga 400 juta dolar setahun. Jadi jika Anda ingin menghemat uang, gunakan jenis huruf yang sederhana dan tipis (Garamond misalnya), ini akan menghemat biaya pemakaian tinta hingga 20%.
<br><br>

3. Gunakan setelan kualitas rendah<br>

Kecuali Anda ingin mencetak foto atau item kecil, tak mesti menggunakan setelan kualitas tinggi untuk mencetak dokumen biasa. Anda bisa mengubah setelan kualitas cetak pada "print properties". Jika tidak sedang butuh cetak warna, akan lebih hemat mencetak dalam mode hitam putih.
<br><br>

4.  Gunakan kartrid bekas<br>

Banyak toko yang menawarkan tinta non original dalam kemasan kartrid daur ulang, beberapa diantaranya bahkan menawarkan pengisian ulang tinta pada kartrid bekas Anda. Perusahan printer mengklaim cara ini bisa merusak printer, tapi tak ada bukti nyata yang mendukung klaim tersebut.
<br><br>

5. Coba gunakan tinta isi ulang di rumah<br>

Beberapa jenis tinta kartrid bisa diisi ulang dengan alat sederhana dan berbiaya murah. Kekurangan metode ini kemungkinan akan membuat kotor meja kerja Anda dan harus sering diulang setiap kehabisan tinta. Tapi bila kekurangan ini tidak mengganggu Anda, Anda bisa menghemat banyak uang dibanding harus membeli tinta asli. Beberapa jenis printer kini ada yang menyedikan tempat penampungan tinta yang terpisah dari kartrid, sehingga mengisi ulang tinta akan jauh lebih mudah.

<br><br>

6. Teruslah mencetak<br>

Sama seperti mobil yang memiliki indikator kapan Anda harus mengisi bensin meski belum habis, printer juga akan memberi tahu meski masih ada sedikit tinta yang tersisa. Artinya Anda masih bisa terus mencetak meskipun peringatan tinta telah menyala sampai tinta benar-benar habis.
<br><br>

7. Menghemat kertas<br>

Kertas cetak bisa sama mahal dengan biaya membeli tinta dan Anda bisa menghemat banyak uang dengan mencetak di kedua sisi kertas. Kebanyakan printer modern memiliki pilihan otomatis untuk melakukannya, yang harus Anda lakukan hanya dengan mengaktifkan fungsi tersebut. Lihatlah manual printer untuk mengetahui caranya.
<br><br>

8.  Memperkecil ukuran cetakan saat mencetak berkas presentasi<br>

Jika Anda mencetak file presentasi PowerPoint, Anda bisa mencetak 4 slide dalam satu halaman dan tetap bisa dibaca dengan mudah. Ini akan menghemat tinta dan kertas. Untuk melakukannya, Anda tinggal masuk ke print menu pada PowerPoint dan rubah setelan sesuai keinginan.
<br><br>

9. Jangan mencetak test paper<br>

Banyak printer melakukan test printing setiap Anda menghidupkan printer dengan alasan tak jelas. Lihat buku panduan untuk menonaktifkan fungsi ini. Cetaklah "test printing" saat Anda memang membutuhkannya (biasanya ketika sedang maintanance printer).
<br><br>

10. Cetak sesuatu minimal seminggu sekali<br>

Jika Anda sedang tidak menggunakan printer untuk waktu yang lama, tinta dibawah kartrid bisa mengering dan seluruh kartrid menjadi rusak. Untuk mencegahnya, cukup cetak selembar kertas setiap minggu. Untuk menghemat, ada yang menggunakan kertas yang sama setiap kali melakukan ini, dimana hasil cetak akan menimpa cetakan lamanya.
<br><br>

11. Tunggu beberapa saat sebelum mematikan printer<br>

Setelah selesai mencetak, kartrid akan kembali ke posisi terlindungi dan kembali ke tempatnya semula.  Jika Anda memaksa mematikan printer sebelum proses pengembalian katrid ke tempat amannya selesai, tinta printer akan beresiko mengering dan bahkan mungkin akan bocor.
<br><br>

12. Cetaklah hanya hasil akhir dokumen Anda<br>

Tak ada pemborosan yang paling parah selain mencetak sesuatu hanya untuk mengetahui kesalahan dan kemudian mencetak ulang. Sangat penting untuk mengecek ulang ejaan dan layout sebelum Anda mencetak dokumen untuk memastikan tak ada kesalahan yang dibuat.{% endblock %}