{% extends "base2.html" %}
{% block title %}We - Film{% endblock %}

{% block judul_besar %}Film{% endblock %}

{% block judul %}Get a Job
(2016)
(2016){% endblock %}
{% block author %}Fahri Rizki{% endblock %}
{% block img %}img/post/get-a-job2016.jpg{% endblock %}
{% block isi %}Sinopsis:Film ini menceritakan tentang empat orang sahabat lulusan sebuah perguruan tinggi terkenal yang menemukan sesuatu hal menarik bahwa ekspektasi tinggi serta impian terbesar mereka dengan kenyataan sebenarnya yang terjadi di masa depan mereka merupakan dua hal yang benar-benar berbeda hingga 180 derajat.
<br>
<img src="img/post/film11.jpg"><br>
<img src="img/post/film12.jpg"><br>
<img src="img/post/film13.jpg">
{% endblock %}