{% extends "base2.html" %}
{% block title %}We - Info Mahasiswa{% endblock %}

{% block judul_besar %}Info Mahasiswa{% endblock %}

{% block judul %}Beasiswa PPA 2016 – BPP PPA 2016{% endblock %}
{% block author %}Fahri Rizki{% endblock %}
{% block img %}img/post/beasiswa.jpg{% endblock %}
{% block isi %}Beasiswa PPA 2016 dan BPP PPA 2016 ditujukan bagi mahasiswa aktif yang berada di jenjang S1/DIV atau mahasiswa DIII. Ketentuan lebih lanjut tertera di persyaratan. Penerima beasiswa dan bantuan biaya pendidikan PPA akan memperoleh dana sebesar Rp 350 ribu/bulan. Beasiswa tersebut diberikan untuk pertamakalinya di periode tahun angggaran berjalan sekurang-kurangnya selama 6 bulan. Pengajuan beasiswa PPA dan BPP-PPA cukup mudah karena mahasiswa bisa langsung mendaftar di kampus masing-masing. 
<br><br>
Status mahasiswa: <br>
1. Calon penerima adalah mahasiswa yang kuliah pada perguruan tinggi pengelola beasiswa dan bantuan biaya pendidikan PPA di lingkungan Kementerian Riset, Teknologi dan Pendidikan Tinggi<br>
2. Calon penerima harus terdaftar pada Pangkalan Data Pendidikan Tinggi (PD-Dikti)<br>
3. Calon penerima adalah mahasiswa yang masih aktif, dalam jenjang pendidikan Diploma dan Sarjana.<br>
<br><br>
Persyaratan: 
1. Umum
Diberikan kepada mahasiswa:<br>
a) Jenjang S1/Diploma IV paling rendah duduk pada semester II dan paling tinggi duduk pada semester VIII.<br>
b) Diploma III, paling rendah duduk pada semester II dan paling tinggi duduk pada semester VI.<br>
c) Dapat diberikan mulai semester I apabila mahasiswa memiliki prestasi sangat baik di sekolah khususnya nilai ujian nasional dan nilai rapor kelas X s.d. XII (diperlukan rekomendasi dari Kepala/Sekolah).<br>
Mahasiswa yang memenuhi persyaratan tersebut di atas, harus mengajukan permohonan tertulis kepada Rektor/Ketua/Direktur atau pejabat perguruan tinggi yang ditunjuk, dengan melampirkan berkas sebagai berikut:<br>
    1) Fotokopi Kartu Tanda Mahasiswa (KTM) dan Kartu Rencana Studi (KRS) atau yang sejenis sebagai bukti mahasiswa aktif;<br>
    2) Fotokopi piagam atau bukti prestasi lainnya (ko-kurikuler dan atau ekstra kurikuler) pada tingkat Nasional maupun Internasional.<br>
    3) Surat pernyataan tidak menerima beasiswa/bantuan biaya pendidikan lain dari sumber APBN/APBD yang diketahui oleh Pimpinan Perguruan Tinggi Bidang Kemahasiswaan;<br>
    4) Rekomendasi dari pimpinan Fakultas/Jurusan.<br>
    5) Fotokopi kartu keluarga.<br>
<br><br>
2. Khusus<br>
Untuk Beasiswa PPA calon penerima wajib melampirkan fotokopi transkrip nilai dengan Indeks Prestasi Kumulatif (IPK) paling rendah 3,00 yang disahkan oleh pimpinan perguruan tinggi.<br>
Untuk Bantuan Biaya Pendidikan PPA:<br>
a) Fotokopi transkrip nilai dengan Indeks Prestasi Kumulatif (IPK) paling rendah 2,75 yang disahkan oleh pimpinan perguruan tinggi;<br>
b) Surat keterangan penghasilan orang tua dari instansi tempat bekerja atau surat pernyataan penghasilan orang tua bermeterai bagi yang berwirausaha;<br>
c) Surat Keterangan tidak mampu atau layak mendapat bantuan yang dikeluarkan oleh Lurah/Kepala Desa atau pejabat berwenang.<br>
*Persyaratan dapat menyesuaikan dengan kebijakan masing-masing kampus. 
<br><br>
Pendaftaran: 
Pelamar yang berminat dapat mengajukan Beasiswa PPA 2016 dan BPP-PPA 2016 di kampus masing-masing. Jadwal pendaftaran bisa berbeda-beda di setiap kampus. Terkait persyaratan dan berkas yang harus diserahkan, silakan juga dilihat ditanyakan ke kampus atau fakultas masing-masing karena mungkin saja ada penyesuaian atau penambahan. Selamat mencoba! 
{% endblock %}