{% extends "base2.html" %}
{% block title %}We - Lowongan{% endblock %}

{% block judul_besar %}Lowongan{% endblock %}

{% block judul %}Lowongan Kerja BUMN PT INALUM (Indonesia Asahan Aluminium){% endblock %}
{% block author %}Fahri Rizki{% endblock %}
{% block img %}img/post/inalum.jpg{% endblock %}
{% block isi %} 
Posisi Loker PT INALUM :
<br><br>
PT Indonesia Asahan Alumunium – Inalum sedang membuka kesempatan berkarir bagi Warga Negara Indonesia dengan menduduki posisi sebagai : TENAGA PELAKSANA
<br><br>
Persyaratan Lowongan Kerja :<br>
Pendidikan min SMK/SMA/Deserajat<br>
Umur sudah berulang tahun ke-18 dan belum berulang tahun ke-22 pada tanggal 1 September 2016<br>
Nilai UN untuk Matematika & Teori Kejuruan (SMK) atau Matematika, Fisika, Kimia (SMA) minimal 5.00<br>
Bersedia ditempatkan di seluruh lokasi kerja PT Inalum<br>
<br><br>
Formasi Loker INALUM :<br>
TEKNIK MESIN =  48 orang<br>
TEKNIK LISTRIK – ARUS KUAT / ELEKTRONIKA = 45 orang<br>
KIMIA INDUSTRI / KIMIA ANALIS = 8 orang<br>
TEKNIK SIPIL / BANGUNAN =  4 orang<br>
REKAYASA PERANGKAT LUNAK = 10 orang<br>
AKUNTANSI = 5 orang<br>
IPA = 20 orang
<br><br>
Berkas lamaran :
Daftar riwayat hidup
Pas foto berwarna terbaru ukuran 3x4 = 2 lembar
Fotocopy KTP yang masih berlaku
Surat lamaran kerja (tanpa materai)
Fotocopy Ijazah & transkrip nilai (dokumen asli dibawa saat pendaftaran)
SKCK pada saat Tes Kesehatan
<br><br>
Urutan Tahapan Seleksi :<br>
Seleksi Administrasi<br>
Tes Potensi Akademik (TPA)<br>
Psikotes<br>
Wawancara<br>
Tes Kesehatan<br>
Program Pemagangan

<br><br>
Catatan :<br>
Pendaftaran Loker BUMN PT INALUM ditutup tanggal : 24 Juni 2016
<br><br>
Jika anda tertarik dengan loker terbaru hari ini bulan Juni 2016 ini yaitu yang memberikan informasi kepada anda tentang : Lowongan Kerja Terbaru BUMN PT INALUM, Silahkan melakukan Pendaftaran dengan cara mengirimkan berkas lamaran kerja SECARA LANGSUNG  ke salah satu alamat dibawah ini :
<br><br>
1. Alamat :
Gedung MPH Tanjung Gading
Komplek Perumahan PT Inalum (Persero)
Kab. Batu Bara
<br><br>
2. Alamat :<br>
Club House Paritohan<br>
Paritohan, Kec. Pintu Pohan Meranti<br>
Kab. Toba Samosir
{% endblock %}