{% extends "base2.html" %}
{% block title %}We -Musik {% endblock %}

{% block judul_besar %}Musik{% endblock %}

{% block judul %}
Vienna Fridiana Ingin Angkat Pamor Lagu Daerah{% endblock %}
{% block author %}Fachry Rizki{% endblock %}
{% block img %}img/post/musik2.jpg{% endblock %}
{% block isi %} Jakarta - Meski kurang mendapat perhatian, lagu-lagu pop daerah sebenarnya masih tetap banyak diproduksi. Salah seorang penyanyi yang masih setia dengan lagu daerah adalah Vienna Fridiana.
<br><br>

Penyanyi, model, bintang sinetron dan bintang iklan Vienna Fridiana merilis album berjudul "Dek Sangke" di 2016 ini. Agar lagu daerah lebih dikenal masyrakat, ia pun mendaftarkan lagu miliknya ke ajang Anugerah Musik Indonesia (AMI) Awards 2016.
<br><br>



"Aku ikut mendaftarkan sebagai peserta AMI Awards kategori Lagu Daerah. Aku berharap lagu daerah, khususnya lagu daerah Sumatera Selatan mendapat dukungan dari masyarakat Indonesia, khususnya masyarakat Wong Kito Galo," ujar Vienna, saat ditemui di kawasan Jakarta Selatan, baru-baru ini.
<br><br>

Lagu "Dek Sangke" merupakan lagu daerah Sumatera Selatan yang diciptakan oleh Samsudin Sholeh dan diaransemen ulang oleh Tengku Shafick. Lagu "Dek Sangke" mengusung genre musik pop urban.

<br><br>


"Aku merasa sudah waktunya mengangkat dan melestarikan budaya tanah kelahiran aku, Palembang, Sumatera Selatan. Selain itu, aku juga ingin lagu daerah lebih dikenal masyarakat Indonesia," sambung Vienna, yang sempat bermain sinetron Gengsi Gede-gedean.
<br><br>

Sementara itu, ajang AMI Awards ke-19 baru akan dilaksanakan pada 28 September 2016. Meski begitu, tim panitia yang diketuai Dwiki Darmawan, sudah membuka pendaftaran bagi musisi Indonesia yang ingin mendaftarkan karyanya.{% endblock %}