{% extends "base2.html" %}
{% block title %}We - Berita{% endblock %}

{% block judul_besar %}Teknologi{% endblock %}

{% block judul %}Teknologi Baru Apple Belum Siap untuk iPhone 7{% endblock %}
{% block author %}Fachry Rizki{% endblock %}
{% block img %}img/post/tekno2.jpg{% endblock %}
{% block isi %} Apple biasanya mendesain ulang iPhone setiap dua tahun. Namun sepertinya iPhone terbaru yang akan meluncur tahun ini tidak akan memiliki perubahan besar dari pendahulunya, karena teknologi baru Apple dilaporkan belum siap untuk disuguhkan.
<br><br>

Dikutip dari Phone Arena, Jumat (24/6/2016), menurut sumber The Wall Street Journal, smartphone terbaru Apple tahun ini yang diperkirakan menyandang nama iPhone 7 dan 7 Plus, hanya akan memiliki sedikit "modifikasi".
<br><br>

The Wall Street Journal mencatat, Apple tidak memodifikasi desain iPhone 7 secara signifikan. Hal ini karena perusahaan sedang menyiapkan berbagai teknologi baru dan membutuhkan waktu lebih lama agar bisa menerapkan teknologi itu. Salah satunya adalah kamera belakang ganda.
<br><br>

Teknologi lainnya yaitu layar OLED melengkung dengan sensor sidik jari. Jika fitur ini hadir, Apple diprediksi akan menghilangkan tombol Home fisik, sehingga membuat perangkat menjadi lebih tipis. Selain itu, di iPhone 7 yang diperkirakan hadir tahun ini, salah satu yang akan berubah dari versi sebelumnya adalah ketiadaan audio jack 3.5 mm.
<br><br>

Diwartakan sebelumnya, iPhone terbaru akan menggunakan konektor Lightning untuk mengisi daya baterai dan menghubungkan headphone. Tapi bukan berarti Anda harus membuang headphone 3.5mm, jika ingin menggunakan produk terbaru itu. Pasalnya, Apple berencana menyertakan adaptor Lightning 3.5mm di dalam kotak ritel iPhone terbaru.
<br><br>

Menurut laporan, ketiadaan audio jack 3.5mm itu akan membuat iPhone 1mm lebih tipis dibandingkan 6s. Namun di luar audio jack, tidak ada perubahan signifikan di desain iPhone 7.
<br><br>

Meski berbagai laporan telah beredar, hingga kini belum ada satu pun yang mendapat konfirmasi dari Apple. Untuk mengetahui secara pasti, kita harus menunggu hingga September tahun ini yang diperkirakan sebagai waktu peluncuran iPhone 7.(16/10/2015).{% endblock %}