{% extends "base2.html" %}
{% block title %}We -Tips {% endblock %}

{% block judul_besar %}Tips{% endblock %}

{% block judul %}Inilah Teknik Jitu Hadapi Jambret{% endblock %}
{% block author %}Fachry Rizki{% endblock %}
{% block img %}img/post/jambret.jpg{% endblock %}
{% block isi %}Kira-kira, apa reaksi Anda bila tiba-tiba di jambret di tengah jalan? Mungkin ada yang akan teriak minta tolong, ada yang mati-matian mengejar pelaku atau bahkan ada yang cuma bisa diam terpaku tak tahu harus berbuat apa.
<br><br>

Kejahatan dengan modus penjambretan para pejalan kaki terus saja memakan korban. Mengintai korban yang lengah, mereka akan dengan sangat cepat merampas tas kita lalu lari menghilang. Kadang, mempertahankan barang kita dengan tidak melepas saat ditarik malah bisa berakibat fatal, apalagi bila si jambret mengendarai kendaraan bermotor. Daripada harus celaka, saran paling aman adalah dengan melepaskannya.
<br><br>



Namun ada sebuah cara lain yang cukup jitu. Le Hoang Mai, Master Aikido di kota Ho Chi Minh, Vietnam berbagi tips ketika menghadapi jambret.
<br><br>

Menurutnya, tidak memegangi tas saat sedang berjalan akan meningkatkan resiko dijambret. Jadi, kita harus selalu memegang tali tas. Lebih baik lagi bila tali tas kita selempangkan. Dan jika tiba-tiba seseorang merampas tas kita, yang harus dilakukan dengan refleks adalah memegang kuat tali tas sambil langsung jongkok.
<br><br>


Begitu kita jongkok, beban tubuh kita akan bertumpu ke bawah dan membuat jambret akan jatuh terjerembab karena kehilangan keseimbangan. Dengan melatih refleks menggunakan teknik dasar ini sambil berteriak minta tolong, sudah cukup menjadi modal bila kita suatu saat mengalami kejadian tak terduga.
{% endblock %}