{% extends "base2.html" %}
{% block title %}We - Film{% endblock %}

{% block judul_besar %}Film{% endblock %}

{% block judul %}Before I Wake
(2016)
(2016){% endblock %}
{% block author %}Fahri Rizki{% endblock %}
{% block img %}img/post/lost-in-white-2016.jpg{% endblock %}
{% block isi %}Sinopsis:Film ini menceritakn mengenai kisah sepasang suami istri yaitu Jessie yang diperankan oleh Kte Bosworth dan juga Mark yang diperankan oleh Thomas Jane. Pada awalnya kehidupan mereka sangat menyenangkan karena dihiasi oleh kehadiran anak tunggal mereka, namun sesudah itu kejanggalan mulai terjadi pada saat anak tunggal mereka meninggal dunia. tak lama setelah mereka begitu larut didalam kesehdihan, mereka memutuskan untuk mengadopsi seseorang anak yang berusia 8 tahun disini diperankan oleh Jacob Tremblay yang bernama Cody, Cody sangat beruntung sekali diberikan orang tua asuh yang sangat menyayanginya.
<br><br>
Pada awalnya Cody seringa kali bermimpi dengan mimpi yang indah, dan sering kali mimpinya tersebut terwujud menjadi kenyataan, bahkan pada saat ia bermimpi bermain dengan kupu-kupu yang banyak, dan keesokan harinya mimpinya tersebut menjadi kenyataan, namun lambat laun mimpinya berubah menjadi mimpi yang buruk, dan menjadi kenyatan. dia sangat takut sekali untuk tidur dan bermimpi. dan dia terus berlanjut dengan mimpi yang penuh terror.
<br>
<img src="img/post/film31.jpg"><br>
<img src="img/post/film32.jpg"><br>
<img src="img/post/film33.jpg">
{% endblock %}