{% extends "base2.html" %}
{% block title %}We - Info Mahasiswa{% endblock %}

{% block judul_besar %}Info Mahasiswa{% endblock %}

{% block judul %}Beasiswa Jepang untuk Lulusan SMA/Sederajat 2017{% endblock %}
{% block author %}Fahri Rizki{% endblock %}
{% block img %}img/post/jepang.jpg{% endblock %}
{% block isi %}Kabar baik ini akhirnya muncul juga. Beasiswa Pemerintah Jepang (Monbukagakusho) untuk lulusan SMA/sederajat tahun 2017 akhirnya dibuka kembali. Pendaftaran sudah tersedia bagi Anda para lulusan SMA/sederajat yang berminat mengajukan diri. Ada beberapa pilihan jurusan dan jenjang studi yang disediakan untuk mendaftar Beasiswa Pemerintah Jepang 2017. Yakni S1 untuk studi di Universitas, D3 di College of Technology, dan D2 di Specialized Training College di Jepang. 
<br><br>
Seperti tahun-tahun sebelumnya, beasiswa Pemerintah Jepang atau yang lebih dikenal Beasiswa Monbukagakusho merupakan beasiswa penuh yang menyediakan beragam fasilitas bagi pelamar terpilih. Beasiswa ini menanggung 100 persen biaya kuliah/pendidikan, diberikan tiket kelas ekonomi pp Indonesia (Jakarta) – Jepang, dan yang tak kalah menarik adalah tunjangan hidup sebesar ¥117.000/bulan (± Rp 14,4 juta/bulan). Tunjangan bulanan tersebut merupakan nominal yang diberikan tahun lalu, ada kemungkinan untuk 2017 berubah.
<br><br>
Tentu saja dengan semua fasilitasnya itu, pelamar yang mendaftar harus mempersiapkan diri sebaik mungkin. Selain karena peminatnya cukup tinggi, Anda juga akan mengikuti serangkaian tahapan seleksi. Meliputi seleksi dokumen, tes tulis, wawancara, hingga proses seleksi berkas oleh Monbukagakusho Jepang. 
<br><br>
Persyaratan: <br>
1. Undergraduate / GAKUBU (S-1)<br>
Masa studi 5 tahun termasuk 1 tahun belajar Bahasa Jepang (kecuali jurusan kedokteran umum, gigi, hewan, dan sebagian farmasi lama masa studi adalah 7 tahun).
<br><br>
▪ Syarat** :  <br>
Lulusan SMA dan Sederajat; nilai rata-rata Ujian Nasional minimal 8,4; lahir antara tgl. 2 April 1995 sampai dengan tgl. 1 April 2000. Bagi pelamar yang nilai rata-rata Ujian Nasional di bawah 8,4, dapat melamar program S-1 dengan melampirkan Japanese Language Proviciency Test (JLPT) level N3 atau lebih (bagi yang memiliki JLPT). Pelamar SMA jurusan IPS/Bahasa tidak bisa mendaftar bidang studi IPA, pelamar SMA jurusan IPA bisa mendaftar IPS atau IPA.
<br><br>
▪  Materi ujian tertulis:<br>
   IPS-a,b : Bahasa Inggris, Matematika dan Bahasa Jepang<br>
   IPA-a   : Bahasa Inggris, Matematika, Kimia, Fisika dan Bahasa Jepang<br>
   IPA-b,c : Bahasa Inggris, Matematika, Kimia, Biologi dan Bahasa Jepang
<br><br>
▪ Pilihan Bidang Studi (terbagi dalam 5 lingkup Bidang Studi Utama):
  Pelamar hanya bisa memilih salah satu saja di antara 5 lingkup bidang studi utama di bawah.
  IPS-a : Law, Politics, Pedagogy, Sociology, Literature, History, Japanese language, others.
  IPS-b : Economics, Business Administration<br>
  IPA-a : Science (Mathematics, Physics, Chemistry), Electric and Electronic Studies (Electronics, Electrical Engineering, Information Engineering), Mechanical Studies (Mechanical Engineering, Naval Architecture), Civil Engineering and Architecture (Civil Engineering, Architecture, Environmental Engineering), Chemical Studies (Applied Chemistry, Chemical Engineering, Industrial Chemistry, Textile Engineering), other fields (Metallurgical Engineering, Mining Engineering, Maritime Engineering, Biotechnology).<br>
  IPA-b : Agricultural studies (Agriculture, Agricultural Chemistry, Agricultural Engineering, Animal Science, Veterinary Medicine, Forestry, Food Science, Fisheries), Hygienic studies (Pharmacy, Hygienics, Nursing), and Science (Biology).<br>
  IPA-c : Medicine; Dentistry
<br><br>
2. College of Technology / KOUSEN (D-3)<br>
Masa studi 4 tahun termasuk 1 tahun belajar Bahasa Jepang. College of Technology memiliki program 5 tahun yang dirancang bagi lulusan SMP. Siswa penerima Beasiswa Monbukagakusho (lulusan SMA dan sederajat) akan masuk College of Technology sebagai mahasiswa tahun ketiga. Studi teknik sebagian besar terdiri dari eksperimen / percobaan dan latihan-latihan praktek. Lulusan dari sekolah ini diharapkan menjadi ahli teknik (engineer).
<br><br>
▪ Syarat**  : <br> 
Lulusan SMA dan Sederajad Jurusan IPA saja; nilai rata-rata Ujian Nasional minimal 8,0, lahir antara tgl. 2 April 1995 sampai dengan tgl. 1 April 2000
<br><br>
▪ Materi ujian tertulis:<br>
  Matematika dan Kimia/Fisika (sesuai dengan kategori bidang studi seperti tertulis di bawah)
<br><br>
▪ Pilihan Bidang Studi:<br>
* Hanya dapat memilih salah satu saja antara Kimia atau Fisika<br>
  Kimia  : Materials Engineering<br>
  Fisika : Mechanical Engineering, Electrical and Electronic Engineering, Information-Communication and Network Engineering, Architecture, Civil Engineering, Maritime Engineering, Other Fields
<br><br>
3. Specialized Training College / SENSHU (D-2)
Masa studi 3 tahun termasuk 1 tahun belajar Bahasa Jepang. Specialized Training College terpisah dari sistem pendidikan Jepang yang biasa. Sekolah ini menawarkan pelatihan praktis kejuruan.
<br><br>
▪ Syarat** : <br> 
Lulusan SMA dan Sederajat; nilai rata-rata Ujian Nasional minimal 8,0; lahir antara tgl. 2 April 1995 sampai dengan tgl. 1 April 2000. Bagi pelamar yang nilai rata-rata Ujian Nasional dibawah 8,0, dapat melamar program D-2 dengan melampirkan Japanese Language Proviciency Test (JLPT) level N4 atau lebih (bagi yang memiliki JLPT).
<br><br>
▪ Materi ujian tertulis: <br>
Bahasa Inggris, Matematika dan Bahasa Jepang<br>
▪ Pilihan Bidang Studi:<br>
  * Hanya dapat memilih satu bidang studi di bawah.<br>
  - Technology<br>
  - Personal Care and Nutrition<br>
  - Education and Welfare<br>
  - Business<br>
  - Fashion and Home Economics<br>
  - Culture and General Education<br>
  - Other Fields<br>
<br><br>
Catatan :<br>
1. Bagi sekolah yang tidak menggunakan standar nasional (misalnya dengan standard IB/ Internasional), nilai akan disetarakan sesuai di atas. Maka bagi pelamar dengan latar sekolah sistem Internasional diharap menyertakan rapor dari semester awal hingga akhir. Bagi yang menggunakan sistem UN, maka rapor tidak diperlukan.<br>
2. Semua soal ujian dalam bahasa Inggris.<br>
3. Lulusan Undergraduate (S-1) bisa meneruskan ke S-2, dan lulusan College of Technology (D-3) dan Specialized Training College (D-2) bisa meneruskan ke S-1 sebagai siswa tahun ketiga. Namun untuk melanjutkan beasiswa, tergantung pada prestasi dan hasil seleksi. Para siswa tentunya harus mengikuti ujian masuk dan masa perpanjangan beasiswa maksimal 2 tahun.
<br><br>
Pendaftaran: 
1. Hanya pelamar yang memenuhi persyaratan di atas saja yang boleh mendaftar.<br>
2. Mengisi formulir aplikasi yang dapat didownload di sini:<br>
   - Formulir Aplikasi Program S-1 (doc)<br>
   - Formulir Aplikasi Program D-3 (doc)<br>
   - Formulir Aplikasi Program D-2 (doc)<br>
   Untuk pengisian Field of Study and Majors and Related Key Terms in Japan (pertanyaan no. 7 pada formulir), dapat dilihat di:<br>
   - Field of Studies S1 (PDF)<br>
   - ANNEX D3 (PDF)<br>
   - ANNEX D2 (PDF)<br>
   3.Lakukan registrasi secara online melalui link berikut http://register.beasiswamext.or.id), lalu cetak/print out e-mail konfirmasi registrasi online yang di dalamnya tertera “Nomor Ujian” yang dikirimkan ke e-mail pelamar. *Pelamar wajib mengingat “Nomor Ujian” masing-masing.
4. Siapkan dokumen masing-masing 1 rangkap:<br>
   ※Jangan melampirkan dokumen yang tidak diminta dan jangan dijilid !<br>
   a. lembar printout konfirmasi registrasi online yang ada “Nomor Ujian”nya<br>
   b. formulir aplikasi yang sudah diisi lengkap<br>
   c. fotokopi Ijazah/Ijazah sementara yang dilegalisir/dicap basah dari sekolah *wajib*<br>
   d. fotokopi SKHUN/SKHUN sementara yang dilegalisir/ dicap basah dari sekolah *wajib*<br>
   e. fotokopi sertifikat kemampuan Bahasa Jepang (JLPT) *bagi yang sudah memiliki saja*
 <br><br>   
   Kirim via pos atau antar langsung dokumen di atas ke:<br>
   Bagian Pendidikan Kedutaan Besar Jepang<br>
   Jl. M.H.Thamrin 24 Jakarta 10350<br>
<br><br>
   (Cantumkan kode “SMA-2017” pada Kanan Atas Amplop)
<br><br><br>
5. Dokumen harus sudah tiba (*bukan cap pos) di Kedutaan Besar Jepang di Jakarta paling lambat:<br>
   a. Tanggal 16 Mei 2016 untuk pelamar Tahap I.<br>
   b. Tanggal 9 Juni 2016 untuk pelamar Tahap II.<br>
6. Hanya pelamar dengan dokumen lengkap dan kami terima sebelum deadline saja yang akan kami proses. Dokumen yang dikirimkan/telah masuk di Kedutaan Besar Jepang tidak dapat dikembalikan dengan alasan apapun.
<br><br>
Jadwal Pendaftaran<br>
Tahap I : Bagi pelamar lulusan tahun 2015 dan tahun sebelumnya. (Tidak untuk lulusan tahun 2016). Pendaftaran Tahap I: 2 Mei 2016 - 16 Mei 2016<br>
Tahap II : Bagi pelamar lulusan tahun 2016 saja. (Tidak untuk lulusan tahun 2015 dan tahun sebelumnya). Pendaftaran Tahap II: 24 Mei 2016 - 9 Juni 2016
<br><br>
Prosedur Seleksi:<br>
1. Pengumuman seleksi dokumen akan ditampilkan di website kedutaan Jepang tanggal 1 Juli 2016 (Jumat Siang), dengan menampilkan “Nomor Ujian” pelamar. Bagi yang lolos seleksi dokumen akan dipanggil untuk mengikuti ujian tertulis di Jakarta/Surabaya/Medan/Denpasar/Makassar, pada tanggal 18 / 19 Juli 2016. (Sebagai referensi : Tahun lalu, kurang lebih 1500 pelamar dipanggil untuk mengikuti ujian tertulis) *Tidak semua pelamar akan lolos seleksi dokumen dan dipanggil ujian tertulis.*<br>
2. Mereka yang lolos ujian tertulis akan dipanggil untuk wawancara di Jakarta pada bulan Agustus 2016. (Sebagai referensi : Tahun lalu, kurang lebih 150 pelamar yang lolos ujian tertulis dipanggil untuk wawancara).<br>
3. Setelah seleksi wawancara kami akan mekomendasikan pelamar ke Monbukagakusho sebagai calon kandidat dari Indonesia, dan berkasnya akan bersaing dengan berkas pelamar dari negara lain yang juga direkomendasikan ke pihak Monbukagakusho dalam penyeleksian nilai dan berkas tahap akhir di pihak Monbukagakusho.<br>
4. Mereka yang lolos seleksi akhir di Monbukagakusho akan menjadi penerima beasiswa. Pengumuman akhir penerima beasiswa diumumkan pada bulan Januari 2017. Bagi peserta yang lolos, akan berangkat ke Jepang pada awal april 2017.
<br><br>
Kontak: 
Email : beasiswa@dj.mofa.go.jp<br>
Web  : www.id.emb-japan.go.jp/home.html<br>
{% endblock %}