{% extends "base2.html" %}
{% block title %}We - Lowongan{% endblock %}

{% block judul_besar %}Lowongan{% endblock %}

{% block judul %}Lowongan Kerja Bank Mandiri Syariah{% endblock %}
{% block author %}Fahri Rizki{% endblock %}
{% block img %}img/post/mandiri.jpg{% endblock %}
{% block isi %}
Posisi Loker Bank Mandiri Syariah :
<br><br>

1. Kriya Bank Syariah Mandiri
<br><br>
Deskripsi Lowongan Kerja :
<br><br>
Bank Syariah Mandiri membuka kesempatan berkarir melaui jalur pemagangan sebagai Teller “Kriya BSM”.
<br><br>
Kualifiksi & persyaratan umum :<br>
-Lulus pendidikan SLTA/SMK (sederajat), atau Diploma (D1-D3).<br>
-Usia 18 – 25 tahun.<br>
-Berpenampilan menarik & bersikap ramah.<br>
-Sehat & tidak buta warna.<br>
-Memiliki motivasi yang baik untuk bekerja.<br>
-Tidak pernah terlibat narkoba atau pelanggaran hukum lainnya.<br>
-Belum menikah dan bersedia tidak menikah selama mengikuti progran Kriya BSM.<br>
-Mampu mengoperasikan Komputer (MS. O­ffice).

<br><br>
2. Officer Development Program Bank Syariah Mandiri
<br><br>
Deskripsi Lowongan Kerja :
<br><br>
ODP (OFFICER DEVELOPMENT PROGRAM) Sebagai Bank Syariah yang terbesar dan terkemuka di Indonesia yang berdiri sejak tahun 1999, dalam perjalanannya BSM (Bank Syariah Mandiri) menguasai market perbankan syariah nasional terbesar pada segmennya. BSM memberikan perhatian besar terhadap pengelolaan Human Capital. Hal ini tercermin dengan adanya berbagai metode perekrutan diantaranya adalah melalui jalur ODP (Officer Development Program) ODP adalah program pengembangan talenta BSM dalam mengantisipasi perkembangan dan tantangan industri Perbankan Syariah. ODP dipersiapkan untuk diproyeksikan sebagai kader-kader pemimpin BSM yang akan menduduki jabatan strategis kedepannya
<br><br>
Kualifiksi & persyaratan umum :<br>
Lulusan S1/S2 dari berbagai disiplin ilmu kecuali, keguruan, Seni, Sastra/budaya, filsafat, ilmu kesehatan masyarakat dan keperawatan.<br>
Aktif di organisasi, baik didalam maupun di luar kampus.<br>
IPK minimal 3.01 untuk lulusan S1 dan IPK minimal 3.20 untuk lulusan S2.<br>
Dapat berbahasa Inggris baik secara lisan maupun tulisan.
Belum menikah, usia maksimal 26 tahun.<br>
Energik, percaya diri, mampu berkomunikasi dengan baik, memiliki motivasi yang tinggi, dan menyukai tantangan.<br>
Bersedia tidak menikah selama masa pendidikan ODP.<br>
Bersedia ditempatkan di jaringan BSM seluruh Indonesia.<br>
Mampu mengoperasikan komputer minimal MS Office (Word, Excel, dan Power Point).<br>
Belum pernah mengikuti proses seleksi pegawai Bank Syariah Mandiri dalam 6 bulan terakhir.

<br><br>
Catatan : 
Loker Terbaru Bank Mandiri Syariah ditutup tanggal : Juni 2016
<br><br>

sumber:<a href="https://mandiri.workable.com/jobs/238287">kriya</a>
{% endblock %}