{% extends "base2.html" %}
{% block title %}We -Musik {% endblock %}

{% block judul_besar %}Musik{% endblock %}

{% block judul %}Benarkah Coldplay Bakal Konser di Indonesia?{% endblock %}
{% block author %}Fachry Rizki{% endblock %}
{% block img %}img/post/musik3.png{% endblock %}
{% block isi %} Jakarta - Di situs jejaring sosial, muncul poster yang menyebutkan grup band asal Inggris, Coldplay, akan menggelar konser di Indonesia. Kabar tersebut menyampaikan, Chris Martin dkk bakal tampil pada 26 November 2016 di ICE BSD City, Tangerang, Banten.
<br><br>

Disebut-sebut dalam poster itu, promotor yang sukses mendatangkan Coldplay dan menampilkannya di Indonesia adalah Java Musikindo. Namun hal itu dibantah oleh CEO Java Musikindo, Adrie Subono.

<br><br>


Pria yang sukses mendatangkan banyak musikus mancanegara ternama ke Indonesia tersebut memastikan ia tak pernah mengumumkan Coldplay bakal konser di Indonesia melalui poster apa pun.
<br><br>

"Enggak benar itu, hoax banget," ucap Adrie Subono saat dihubungi Liputan6.com melalui sambungan telepon di Jakarta, Jumat (24/6/2016).
<br><br>

Adrie Subono juga sudah mengonfirmasi bahwa poster konser Coldplay tersebut tak pernah dibuat atau diumumkan Java Musikindo melalui akun sosial media miliknya.
<br><br>



Hal tersebut juga ditegaskan oleh situs resmi Coldplay, coldplay.com. Berdasarkan penelusuran we-News, band yang ngetop lewat lagu "Yellow" itu tengah melakukan persiapan tur bertajuk A Head Full Of Dreams ke sejumlah negara. Namun, tak ada Indonesia dalam daftar negara tujuan konser album teranyar mereka itu.{% endblock %}