{% extends "base2.html" %}
{% block title %}We - Berita{% endblock %}

{% block judul_besar %}Teknologi{% endblock %}

{% block judul %}Polemik Indosat Vs Telkomsel, BRTI Siap Kenakan Sanksi{% endblock %}
{% block author %}Fachry Rizki{% endblock %}
{% block img %}img/post/tekno3.jpg{% endblock %}
{% block isi %}Samsung dikabarkan akan mengekor Apple dengan menghadirkan fitur serupa 3D Touch yang ada di iPhone 6s, untuk smartphone terbarunya. Namun Samsung tidak akan menggunakan teknologi seperti yang ada di iPhone 6s ataupun teknologi buatan sendiri (in house).
<br><br>

Seperti diketahui, 3D Touch adalah salah satu pembeda utama antara iPhone 6 dan 6s Plus. Melalui fitur tersebut, pengguna bisa "mengintip" berbagai hal yang ada di iPhone seperti pesan dan email, dengan hanya menekan layar lebih lama.
<br><br>

Namun Samsung dilaporkan tidak akan benar-benar mengikuti jejak Apple. Perusahaan disebut sedang berusaha bekerja sama dengan sebuah perusahaan, Synaptics, untuk bisa merealisasikan rencana tersebut.
<br><br>

Synaptics pada awal bulan ini meluncurkan sensor layar sentuh yang sensitif terhadap tekanan bernama Clearforce. Teknologi baru itu akan siap digunakan pada awal 2016. Teknologi itulah yang disebut akan digunakan Samsung untuk smartphone terbarunya.
<br><br>

Kendati demikian, sejauh ini belum ada informasi soal varian smartphone Samsung yang akan menggunakan teknologi tersebut. Demikian seperti dilansir Business Insider, Jumat (16/10/2015).{% endblock %}