{% extends "base2.html" %}
{% block title %}We -Tips {% endblock %}

{% block judul_besar %}Tips{% endblock %}

{% block judul %}Tips Membuat AC Alami Tanpa Listrik Dari India{% endblock %}
{% block author %}Fachry Rizki{% endblock %}
{% block img %}img/post/ac-alami.jpg{% endblock %}
{% block isi %} Inspirasi membuat AC alami tanpa listrik ini datang dari negara India. Sama seperti Indonesia, India merupakan negara tropis yang bersuhu tinggi pada saat musim panas. Bahkan temperatur bisa menjadi sangat ekstrim. Pada puncaknya, suhu di India bisa mencapa 450C.
<br><br>

Kondisi ini diperparah dengan masih banyaknya penduduk India yang belum menikmati aliran listrik. Jika suhu ekstim menerjang, mereka akan kewalahan dan memilih beristirahat di luar rumah karena tak memiliki kipas angin atau AC.
<br><br>



Permasalahan ini dipecahkan dengan sebuah ide sangat sederhana namun brilian. Masyarakat India yang tidak memiliki listrik diajak membuat pendingin ruangan alami dari botol bekas yang bekerja tanpa arus setrum.
<br><br>

Cara kerjanya sangat simpel. Coba hembuskan udara dari mulut Anda yang terbuka lebar ke tangan, maka kita akan merasakan hembusan udara hangat di telapak tangan. Kini coba tiupkan udara ke tangan dengan mulut nyaris tertutup seperti sedang bersiul. Udara yang akan sampai ke tangan Anda akan lebih dingin dibanding hembusan udara dari mulut yang terbuka lebar.
<br><br>



Dengan memanfaatkan botol bekas berleher sempit yang disusun seluas jendela rumah, maka udara panas yang berhembus dari luar ruangan akan melewati lubang sempit mulut botol dan secara alami akan mendingin. Dengan AC alami ini suhu ruangan mampu turun sebesar 50C. Teknik ini telah tersebar luas di desa-desa tak berlistrik di pedalaman India.
{% endblock %}