{% extends "base.html" %}
{% block title %}We - Teknologi{% endblock %}

{% block judul_besar %}Teknologi{% endblock %}

{% block judul1 %}Polemik Indosat Vs Telkomsel, BRTI Siap Kenakan Sanksi{% endblock %}
{% block author1 %}Ridho Ade Putra{% endblock %}
{% block img1 %}img/post/tekno1.jpg{% endblock %}
{% block isi1 %}Berkaitan dengan beredarnya foto-foto kampanye below the line (BTL) Indosat Ooredoo yang 'menyerang' Telkomsel, Badan Regulasi Telekomunikasi Indonesia (BRTI) telah bertemu dengan perwakilan Indosat...{% endblock %}
{% block rm %}/rm1tekno{% endblock %}

{% block judul2 %}Teknologi Baru Apple Belum Siap untuk iPhone 7{% endblock %}
{% block author2 %}Fahri Rizki{% endblock %}
{% block img2 %}img/post/tekno2.jpg{% endblock %}
{% block isi2 %}Apple biasanya mendesain ulang iPhone setiap dua tahun. Namun sepertinya iPhone terbaru yang akan meluncur tahun ini tidak akan memiliki perubahan besar dari pendahulunya, karena teknologi baru Apple dilaporkan belum siap untuk disuguhkan...{% endblock %}
{% block rm2 %}/rm2tekno{% endblock %}

{% block judul3 %}Contek Apple, Samsung Siapkan Smartphone Berfitur 3D Touch?{% endblock %}
{% block author3 %}Fahri Rizki{% endblock %}
{% block img3 %}img/post/tekno3.jpg{% endblock %}
{% block isi3 %}Samsung dikabarkan akan mengekor Apple dengan menghadirkan fitur serupa 3D Touch yang ada di iPhone 6s, untuk smartphone terbarunya. Namun Samsung tidak akan menggunakan teknologi seperti yang ada di iPhone 6s ataupun teknologi buatan sendiri (in house)...{% endblock %}
{% block rm3 %}/rm3tekno{% endblock %}