{% extends "base.html" %}
{% block title %}We - Tips n' Trick{% endblock %}

{% block judul_besar %}Tips n' Trick{% endblock %}

{% block judul1 %}Tips Agar Printer Awet dan Hemat Biaya
{% endblock %}
{% block author1 %}Fahri Rizki{% endblock %}
{% block img1 %}img/post/printer.jpg{% endblock %}
{% block isi1 %}Menjadi sebuah guyonan di kalangan pengguna printer bahwa kita akan lebih banyak menghabiskan uang untuk membeli tinta kartrid dibandingkan biaya membeli printer. Kenyataannya memang kita harus mengeluarkan banyak uang untuk kotak kecil ini  dan sedihnya, ia cenderung mengering lebih cepat dari yang kita duga...{% endblock %}
{% block rm %}/rm1tips{% endblock %}

{% block judul2 %}Inilah Teknik Jitu Hadapi Jambret{% endblock %}
{% block author2 %}Fahri Rizki{% endblock %}
{% block img2 %}img/post/jambret.jpg{% endblock %}
{% block isi2 %}Kira-kira, apa reaksi Anda bila tiba-tiba di jambret di tengah jalan? Mungkin ada yang akan teriak minta tolong, ada yang mati-matian mengejar pelaku atau bahkan ada yang cuma bisa diam terpaku tak tahu harus berbuat apa...{% endblock %}
{% block rm2 %}/rm2tips{% endblock %}

{% block judul3 %}Tips Membuat AC Alami Tanpa Listrik Dari India{% endblock %}
{% block author3 %}Fahri Rizki{% endblock %}
{% block img3 %}img/post/ac-alami.jpg{% endblock %}
{% block isi3 %}Inspirasi membuat AC alami tanpa listrik ini datang dari negara India. Sama seperti Indonesia, India merupakan negara tropis yang bersuhu tinggi pada saat musim panas. Bahkan temperatur bisa menjadi sangat ekstrim. Pada puncaknya, suhu di India bisa mencapa 450C...{% endblock %}
{% block rm3 %}/rm3tips{% endblock %}